{% extends "index.html"%}

{% block content %}
{% load static %}
{% load widget_tweaks %}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Advanced Physics</h2>
            <p>“Nothing happens until something moves.”
              ― Albert Einstein</p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="{% static 'assets/img/physics/form5/physics.jpg' %}" class="img-fluid" alt="" data-aos="zoom-out"
              data-aos-delay="100">
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          
        </ol>

      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  {% block phy-content %} 
  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4 posts-list">

        
        {% for physics_form5 in physics_form5_list %}

        <div class="col-xl-4 col-md-6">
          <article>
            <div class="post-img">
              <img src="{{physics_form5.picture.url}}" alt="" class="img-fluid">
            </div>
            <h2 class="title">
              <a href="{{physics_form5.notes.url}}">{{physics_form5.title}}</a>
            </h2>
            {% if user.is_authenticated %}
            <div class="dlt"><a href="{% url 'NOTES:delete_phy5' pk=physics_form5.pk %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete the file??')"><span>delete</span><i class="bi bi-trash3-fill"></i></a></div>
            {% endif %}
          </article>
        </div><!-- End post list item -->

        {% endfor %}

      </div><!-- End blog posts list -->
    </div>

  </section><!-- End Blog Section -->

</main><!-- End #main -->


<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

{% if user.is_authenticated %}
<a href="{% url 'NOTES:create_phy5' %}" class="open-button"  style="border: solid rgb(233, 228, 228) 1.2px; background: rgba(38, 110, 66, 0.856); color: #fff; padding: 10px; border-radius: 22px; width: 211px; font-family: Arial, Helvetica, sans-serif; transition: all 0.3s ease-in;"><i class="bi bi-download"></i>  IMPORT NOTES </a>
{% endif %}

{% endblock %}



{% endblock %}