{% extends "notes/mathematics/form5.html"%} 

{% block math-content %}
{% load static %}
{% load widget_tweaks %} 

<div class="form-popup-1" id="myForm" style="padding-left: 50px; align-items: center;">
  <form method="post"  class="form-container" enctype="multipart/form-data">
    {% csrf_token %} 
    <h1 class="head">Import Notes</h1>

    <label for="email"><b>Title of Notes</b></label>
    {% render_field form.title class="form-control" placeholder="Title" %}
    

    <label for="psw"><b>Picture</b></label>
    {% render_field form.picture class="form-control imp" %}
    

    <label for="email"><b>Notes</b></label>
    {% render_field form.notes class="form-control imp" %}
    

    <button type="submit" class="btn">Submit</button>
    <a href="{%url 'NOTES:math_form5' %}"><button type="button" class="btn cancel"> Close</button></a>
  </form>
</div> 

{% endblock %}

